/*
Author : jaba it Ltd.;
created Date : 13-06-2019;
*/

body{
     white-space: nowrap;
      background: #DEF2F1; 
      font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka,
 "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}
/*====================================== start menu design==================*/
 body {

            font-size: 12px;
            white-space: nowrap;
            margin: 0;
            padding: 0;
        }

        .margin_b1 {
            position: absolute;
            color: #FEFFFF;
        }

        li {
           

        }

        li a {
            text-decoration: none;
            padding: 0 20px;
        }

        .cool-link::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            color: #FEFFFF;
            background: #2B7A78;
            transition: width .3s;
        }

        .cool-link:hover::after {
            width: 100%;
            transition: width .3s;
            color: #FEFFFF;
        }

        .cool-link:hover{
            
            color: #17252A;
            font-weight: bold;
        }

        .m_0 {
           
            margin-top: 13px !important;
        }

        .font_color {
            color: #FEFFFF;
            font-size: 14px;
        }
 /* Style the buttons */
        .btn {
            border: none;
            outline: none;
            padding: 10px 16px;
            background-color: #f1f1f1;
            cursor: pointer;
            font-size: 18px;
        }

        /* Style the active class, and buttons on mouse-over */
        .active,
        .btn:hover {
            border-bottom: 2px solid #2B7A78;
            color: #17252A;
            font-weight: bold;
        }


/*====================================== start Common design==================*/
.bg-white{
	background: #DEF2F1 !important;
	color: #17252A
}
.btn-info{
	background-color: #3AAFA9;
	color: #FEFFFF !important;
	border: 1px solid #3AAFA9
}
.btn-info:hover{
	background-color: #3AAFA9;
	color: #FEFFFF !important;
	border: 1px solid #3AAFA9
}
.btn-warning{
	background-color: #3AAFA9;
	color: #FEFFFF !important;
	border: 1px solid #3AAFA9
}
.btn-warning:hover{
	background-color: #3AAFA9;
	color: #FEFFFF !important;
	border: 1px solid #3AAFA9
}
.table-bordered{
	border: 1px solid #3AAFA9 !important
}
.form-control{
	border: 1px solid #3AAFA9 !important;
	background: white
}
.table-agile-info{
   
    padding: 2em;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.form-w3layouts{
    background: #676B6B;
    padding: 2em;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default>.panel-heading {
    color: #000000 ! important;
    background-color: #ddede0 ! important;
    border-color: #ddede0 ! important;
    font-size: 20px;
}

.custom-checkbox .custom-control-label:before {
    background-color: #DEE2E6; /* orange */
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label:before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label:after {
    background-color: #C5D9F1;
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns= 'http://www.w3.org/2000/svg' viewBox= '-4 -4 8 8' %3E%3Ccircle r= '3' fill= '%23fff' /%3E%3C/svg%3E);

}

.custom-checkbox .custom-control-input:active ~ .custom-control-label:before {
    color: #C5D9F1;
    background-color: #C5D9F1; /* red */
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label:before {
    box-shadow: 0 0 0 1px #C5D9F1, 0 0 0 0.2rem rgba(185, 166, 116, 0.25);
}
/* modification part */
.custom-radio .custom-control-label:before {
    background-color: #DEE2E6; /* orange */
}

.custom-radio .custom-control-input:checked ~ .custom-control-label:before,
.custom-radio .custom-control-input:checked ~ .custom-control-label:after {
    background-color:  #3AAFA9;
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns= 'http://www.w3.org/2000/svg' viewBox= '-4 -4 8 8' %3E%3Ccircle r= '3' fill= '%23fff' /%3E%3C/svg%3E);
    border-radius: 50%;
}

.custom-radio .custom-control-input:active ~ .custom-control-label:before {
    color:  #3AAFA9;
    background-color:  #3AAFA9; /* red */
}

.custom-radio .custom-control-input:focus ~ .custom-control-label:before {
    box-shadow: 0 0 0 1px #C5D9F1, 0 0 0 0.2rem rgba(185, 166, 116, 0.25);
}

/*CheckBox*/

.custom-checkbox .custom-control-label:before {
    background-color: #DEE2E6; /* orange */
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label:before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label:after {
    background-color: #3AAFA9;
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns= 'http://www.w3.org/2000/svg' viewBox= '-4 -4 8 8' %3E%3Ccircle r= '3' fill= '%23fff' /%3E%3C/svg%3E);

}

.custom-checkbox .custom-control-input:active ~ .custom-control-label:before {
    color: #3AAFA9;
    background-color: #3AAFA9; /* red */
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label:before {
    box-shadow: 0 0 0 1px #C5D9F1, 0 0 0 0.2rem rgba(185, 166, 116, 0.25);
}
.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -mos-box-shadow: none;
    border-color: #608601;

}


/*--//placeholder-color--*/

.contact textarea:focus {
    border-color: #C5D9F1
}   

*/
.content{

    padding : 20px;
}





.col_space{
    margin: 0px;
    padding: 0px;
}


.btn-mix{

}

.checkbox_panel{
        margin-top : 30px;
        padding : 30px;
        border : 1px solid #608601;
}

.modal-dialog {

    max-width: 1500px !important;
    margin: 200px 200px;
    margin-top : 20px !important;
}
 .modal-content{
           background: #DEF2F1;  
           color: #17252A !important;
        }
.submit_button_search{
    border : 1px solid #E0A800 !important;
}












::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #608601;
}

::selection {
  color: #fff;
  background: #608601;
}


/*&&&&&&&&&&&&  common table design&&&&&&&&&&& */

       /* table header */
        .header {

			
            left: 0;
            right: 0;
            
            
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;

        }
        .table_hover th i.fa{
            display: none;
        color: #405063;

        position: absolute;

        right: 0px;

        bottom: 10px;
        }
        .table_hover th:hover i.fa{
            display:none;
            color:#fff;
            padding-left : 5px;

        }

        .table .thead-dark th {



            border-color: #3AAFA9 !important;

        } 
        .table_hover th:hover a{
           
            color : #fff;
        }
        .table_hover th {
            position: relative;

        }

        .table_hover2 td {
            position: relative;
			


        }

        th a{
           color:#333;
          

        }
        th{
          text-align: center !important;   
        }
         td a{
           color:#333;

        }
        th a:hover{
           color:#fff!important;

        }

        /* footer area*/
        .footer_news {

    margin-top: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #000;


}

    .padding_con{
        padding-top:10px;
    padding-bottom: 10px; 
    }


    /* common css added by : Rosni aktar */

        .padding_righti{
            padding-right: 0!important;
        }

        .widthin{
            width: 1000px;
            margin:0 auto;
        }

        .paddingin{
            padding-left:6px;
            padding-right:6px;
        }

        .borderin{
            border: 1px solid #ccc;
             padding-left:20px;
            padding-right:20px;
        }

        .table_rl_padding{
            padding-right : 20px ;
            padding-left : 20px ;
        }

        /* table */
       .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border:1px solid #3AAFA9!important;
    color:#17252A;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 0.9em;
    color:#17252A!important;
    border-top: none !important;
	
}

.table > tbody > tr > td,.table > tfoot > tr > td,.table > thead > tr > td {

    padding: 4px !important;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
	
}


.table .thead-dark th{
    background: #3AAFA9 !important;
	color: #17252A;
	
}

/*&&&&&&&&&& end common table Design &&&&&&&&&&&&&&&&&&&&*/


/*&&&&&&&&&&& start common padding margin design&&&&&&&&&&&&& */
.fullpage_width{
    width : 1900px;
}

.padding_top_bg{
    padding-top : 30px;
}
body{
    font-size: 11px
}
 .fonts {
            font-size: 12px;
        }

        .margin_b {
            margin-bottom: 5px;
        }

        .margin_t {
            margin-top: 10px;
        }

        .margin_t2 {
            margin-top: 6px;

        }

        .m_left {
            margin-left: -45px;
        }

        .m_font_size {
            font-size: 13px;

        }

        .margin_left1 {
            margin-left: -20px;
        }

        .margin_lf {
            margin: 10px;
        }

        .margin_lft {
            margin-left: -10px;
        }

    /*&&&&&&&&&&& end common padding margin design&&&&&&&&&&&&& */

    /*&&&&&&&&&&& Start common menu design&&&&&&&&&&&&& */

       /*sidebar navigation*/

       .ul_left{
        margin-left:-24px !important;
       }

       .ul_left22{
       margin-left:-8px !important; 
       }
.widthli{
    margin-top:13px;
    padding:0px;

    width:155px;

    height: auto;
    padding-bottom: 5px;
}
#cssmenu ul {
  
    height:53px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#cssmenu li.first_li {
    background:#3AAFA9;
    float: left;
    padding: 0px;
}

#cssmenu li.first_li:hover {
    background:#3AAFA9; 
    float: left;
    padding: 0px;
}
#cssmenu li.secound_li {
    background:#3AAFA9;
    float: left;
    padding: 0px;
}

#cssmenu li.secound_li:hover {
    background:#3AAFA9; 
    float: left;
    padding: 0px;
}
#cssmenu li.thired_li {
    background:#3AAFA9;
    float: left;
    padding: 0px;
}
#cssmenu li.thired_li:hover {
   background:#3AAFA9; 
    float: left;
    padding: 0px;
}
#cssmenu li.fourth_li {
     background:#3AAFA9;
    float: left;
    padding: 0px;
}

#cssmenu li.fourth_li:hover {
    background:#3AAFA9;
    float: left;
    padding: 0px;
}


#cssmenu li.fifth_li {
     background:#3AAFA9;
    float: left;
    padding: 0px;
}

#cssmenu li.fifth_li:hover {
    background:#3AAFA9;
    float: left;
    padding: 0px;
}

#cssmenu li.sixth_li {
     background:#3AAFA9;
    float: left;
    padding: 0px;
}
#cssmenu li.sixth_li:hover {
    background:#3AAFA9; 
    float: left;
    padding: 0px;
}
.button_hover:hover {
    color:green!important;}

#cssmenu li.seventh_li {
    background:#3AAFA9;
    float: left;
    padding: 0px;
}

#cssmenu li.seventh_li:hover {
    background:#3AAFA9; 
    float: left;
    padding: 0px;
}

#cssmenu li.eigth_li {
   background:#3AAFA9;
    float: left;
    padding: 0px;
}

#cssmenu li.eigth_li:hover {
    background:#3AAFA9;
    float: left;
    padding: 0px;
}
#cssmenu li a {

    display: block;
  
    line-height:26px;
    margin: 0px;
    padding: 0px 18px;
    text-align: center;
    text-decoration: none; 
}

#cssmenu li a:hover {

    color: #17252A;
    text-decoration: none;
    font-weight:bold !important;
}

.eigth_li a:hover {

    color: #17252A;
    text-decoration: none;
    font-weight:bold !important;
}

#cssmenu > ul > li > a {
    color: #FEFFFF;
}
#cssmenu ul ul a {
     color: #FEFFFF;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {

    
    text-decoration: none;
   
}

#cssmenu ul li fas:hover {

    color: #ffffff !important;

}
#cssmenu li ul {

    display: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    width:192px;
    z-index: 200;
    /*top:1em;
    /*left:0;*/



}

#cssmenu li:hover ul {
    display: block;
}
#cssmenu li li {
    background: url('images/sub_sep.gif') bottom left no-repeat;
    display: block;
    float: none;
    margin: 0px;
    padding: 0px;
    width: 225px;
}
#cssmenu li:hover li a {
    background: none;
}
#cssmenu li ul a{
    display: block;
    height:45px;
    width:200px;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    padding: 0px 10px 0px 15px;
    text-align: left;

}



#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {

   color:white

}


#cssmenu p {
    clear: left;
}
#cssmenu ul ul li {
    position: relative;
}
#cssmenu ul ul ul {
    left: -99999999px;
    top: 0;
}
#cssmenu ul ul li:hover > ul {
    left: 100%;
}
#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}
#cssmenu.align-center > ul {
    text-align: center;
}
#cssmenu > ul > li {
    position: relative;
}
#cssmenu.align-right > ul > li {
    float: right;
}
#cssmenu.align-right > ul > li:hover > ul {
    right: 0;
    left: auto;
    text-align: right;
}
#cssmenu.align-right ul ul li a {
    text-align: right;
}
#cssmenu.align-right ul ul li:hover > ul {
    left: auto;
    right: 100%;
}

.header_area22 {
   background: #3AAFA9;
    color: #FEFFFF;
}

    /*&&&&&&&&&&& end common menu design&&&&&&&&&&&&& */

/*=================End Common Design===========*/

/*=================Start sahida Design===========*/

.td_hw{
    height: 500px
}
.td_hw2{
    height: 500px
}

.api_content{
   border: 2px solid #608601;
  padding: 10px;
  border-bottom-right-radius: 50px 20px;
}

/*=================End sahida Design===========*/

/*====================start rosni design=======*/
.mail-info,.mail-info:hover {
    margin:-3px 6px 0 0;
    font-size: 11px;
}

/*====================end rosni design=======*/

/*=================== start rabbi design========*/
/* rosni*/
        .color_whiteor{
            background-color: white;
        }

        .container_or{
            width: 1000px;
            margin: 0 auto;
        }
        .width_or2{
          width: 990px;
            margin: 0 auto;  
        }

        .width_or22{
            width: 1300px;
            margin: 0 auto;  
        }
        .borderin{
            border: 1px solid #3AAFA9 !important ;
             padding-left:20px;
            padding-right:20px;
        }

           /* modal*/
        .modal-dialog{
            max-width: 1106px;
            width:1000px !important;
            margin: 30px auto;
        }

        .margin_left_or{
            margin-left:2px;
        }

 /*===========================end rabbi design====================*/